<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add new user</title>
</head>
<body>
  <h1>
    Add User
  </h1>
  <!--    Div felt til formen-->
  <div>
    <form th:action="@{/user/addNewUser}" th:object="${newUser}" method="post">
      <p>Email</p>
      <input type="email" th:field="*{email}" required>

      <p>Username</p>
      <input type="text" th:field="*{username}" required>

      <p>Password</p>
      <input type="password" th:field="*{password}" required>

      <p>User type</p>
      <select th:field="*{userType}" required>
        <option value="" disabled selected>Select user type</option>
        <option th:each="type : ${userTypeEnums}"
                th:value="${type}"
                th:text="${type}">
        </option>
      </select>

      <p>Developer type</p>
      <select th:field="*{devType}">
        <option th:value="${null}" >Select developer type</option>
        <option th:each="type : ${devTypeEnums}"
                th:value="${type}"
                th:text="${type}">
        </option>
      </select>

      <p>Worktime per day</p>
      <input type="number" th:field="*{workTime}" min="0" max="24">

      <br><br>
      <button type="submit">Add user</button>
      <a href="/user/profile"><button type="button">Cancel</button></a>
    </form>
  </div>
</body>
</html>