<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Manager Profile</title>
</head>
<body>
    <h1>Project Manager Profile</h1>
    <h3>Welcome, <span th:text="${session.user.username}">PM Name</span></h3>

    <div>
        <a th:href="@{/project/myprojects}">
            <button>Your Projects</button>
        </a>

        <a th:href="@{/team/list}">
            <button>Teams</button>
        </a>
    </div>

    <br>
    <a th:href="@{/user/logout}"><button>Logout</button></a>
</body>
</html>